<template>
    <require from="components/genmapper.css"></require>

    <aside>
        <h3>${mapType}</h3>
        <ul class="list">
            <li>
                <a href="#/genmapper/${mapType}/map">Map</a>
            </li>
            <li>
                <a href="#/genmapper/${mapType}/documents">Documents</a>
            </li>
            <li>
                <a href="#/genmapper/${mapType}/import">Import</a>
            </li>
            <li>
                <a href="">Export</a>
            </li>
        </ul>
    </aside>

    <main>
        <router-view containerless></router-view>
    </main>
</template>