<template>
  <require from="./editor.css"></require>
  <div class="nav border-bottom-smoke">
    <div class="left border-right-smoke col">
      <div class="logo f1">
        GenMapper
      </div>
    </div>
    <div class="right row">
      <div class="meta f1">
        <span class="title"> My Other Document </span>
      </div>
      <div class="actions row">
        <div class="button">Save</div>
        <div class="dropdown"><icon name="down"></icon></div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="left sidebar border-right-smoke">
      <div class="document row border-bottom-snow ${doc.active ? 'active' : ''}" repeat.for="doc of docs">
        <div class="meta f1 col">
          <div class="title">${doc.title}</div>
          <div class="format">${doc.format}</div>
        </div>
        <div class="actions">
          <icon class="delete" name="delete"></icon>
        </div>
      </div>
    </div>
    <div class="right content">
    </div>
  </div>
</template>
