<template>
  <div class="tool-sidebar">
    <div class="tool-sidebar__nav">
      <div class="tool-sidebar__logo"> GenMapper </div>
    </div>
    <div class="tool-documents">
      Documents
    </div>
  </div>
  <div class="tool-main">
    <div class="tool-nav">
      <input class="tool-nav__title" placeholder="Document Name">
      <div class="tool-nav__actions">
        <button class="tool-nav__save">Save</button>
        <button class="tool-nav__create">Create</button>
      </div>
    </div>
    <div class="tool-view">
      View
    </div>
  </div>
</template>
