
.home {
  display: flex;
  align-items: center;
}

.container {
  /*background: rgba(0,0,0,0.1);*/
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.category {
  margin: 1rem;
  flex: 1;
  min-width: 26rem;
}

.category .heading {
  border-bottom: 1px solid #DDD;
  padding: 0.5rem;
  align-items: flex-end;
}

.category .heading .name {
  font-size: 2rem;
  font-weight: bold;
  color: #444;
  font-family: Interface;
}

.category .heading .browse {
  text-decoration: none;
  font-size: 0.7rem;
  color: #009EEB;
  transition: opacity 100ms ease;
  opacity: 0;
}

.category:hover .heading .browse {
  opacity: 1;
}

.category .tools {
  justify-content: space-around;
}

.category .tools .tool {
  padding: 1rem;
  margin-top: 0.5rem;
  border: 2px solid #EEE;
  border-radius: 4px;
  cursor: pointer;
  transition: border 100ms ease;
}

.category .tools .tool:hover {
  border: 2px solid #FF9E7C;
}

.category .tools .tool .image {
  min-height: 7rem;
  max-height: 7rem;
  min-width: 7rem;
  max-width: 7rem;
  border: 1px solid #DDD;
  background: #F5F5F5;
  background-position: center;
  background-size: cover;
}

.category .tools .tool .meta {
  padding-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  max-width: 7rem;
  color: #333;
}

.category .tools .tool .meta .name {
  font-family: Interface;
}

@media only screen and (max-width: 840px) {
  .home {
    align-items: flex-start;
  }

  .container {
    padding-bottom: 0;
  }
}
