
$snow: #F9FAFC;
$dark-snow: #EFF2F7;
$extra-dark-snow: #E5E9F2;

$smoke: #E0E6ED;
$dark-smoke: #D3DCE6;
$extra-dark-smoke: #C0CCDA;

$silver: #8492A6;
$slate: #3C4858;
$steel: #273444;
$black: #1F2D3D;

$light-orange: #FF9E7C;
$orange: #FF7849;
$dark-orange: #FF5216;

$light-blue: #85D7FF;
$blue: #1FB6FF;
$dark-blue: #009EEB;

$light-green: #29EB7F;
$green: #13CE66;
$dark-green: #0F9F4F;
