
.contained {
  max-width: 65rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.f1 {
  flex: 1 0 auto;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}
