
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 56px;
    background-color: rgba(0,0,0,0.2);
}

.navbar input {
    float: left;
    margin: 8px;
    line-height: 36px;
    padding: 0 16px;
    border: none;
    min-width: 400px;
    font-size: 18px;
}

.navbar icon {
    float: left;
    margin: 14px 24px;
    cursor: pointer;
}

.navbar button {
    float: right;
    margin: 8px;
}

.genmap {
    display: flex;
    height: 100%;
}

.genmap aside {
    flex: 1;
    max-width: 200px;
    background:#eee;
}

.genmap main {
    flex: 1;
}

.genmap aside h3 {
    padding: 0 16px;
    line-height: 48px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.genmap aside .list {
    list-style: none;    
    padding: 0;
    margin-top: 48px;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.genmap aside .list li {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.genmap aside .list a {
    color: #333;
    display: block;
    line-height: 48px;
    padding-left: 24px; 
    text-decoration: none;
}

.genmap aside .list a:hover {
    opacity: 0.5;
}

.genmap aside .list a:active {
    opacity: 1;
}

.genmap .document-list,
.genmap .document-import {
    padding: 40px 60px;
}

.genmap table {
    width: 100%;
    margin: 0 auto;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.2);
    border-collapse: collapse;
}

.genmap table tr {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.genmap table th {
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.genmap table td {
    height: 48px;
    padding-left: 16px;
}

.genmap table td:last-child {
    width: 128px;
}

.genmap table button {
    padding: 0 6px;
    min-width: auto;
    box-shadow: none;
    margin: 0;
}

.genmap table input {
    padding: 8px;
    outline: none;
    font-size: 16px;
    background-color: white;
    border: none;
}

.genmap table input:focus {
    background-color: #eee;
}

.genmap table tr:hover td button:first-child {
    background-color: lightskyblue;
}
.genmap table tr td button:last-child:hover {
    background-color: red;
}




.node-church-box {
stroke: black;
stroke-width: 2;
}

.is-church {
stroke-dasharray: 0;
}

.is-not-church {
stroke-dasharray: 7,7;
}

.church-legacy {
stroke-width: 4;
stroke: green;
}
  