@import 'components/components.scss';
@import 'components/colors.scss';
@import 'components/fonts.scss';
@import 'components/flex.scss';
@import 'components/icon/icon.scss';
@import 'views/home/home.scss';
@import 'views/tool/tool.scss';

html, body {
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
  font: 15px sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
}

router-view {
  flex: 1 0 auto;
}
